<!DOCTYPE html>
<html>
<head>
	<title>LoginUsingDevise</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<% if user_signed_in? %>
	Logged in as <strong><%= current_user.email %></strong>.
	<%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
	<%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
	<% else %>
	<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
	<%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
	<% end %>
	<%if notice%>
	<p class="notice"><%= notice %></p>
	<%end%>
	<%if alert %>
	<p class="alert"><%= alert %></p>
	<%end%>
	<%= yield %>

	
	<div class="fb-like" data-href="https://www.facebook.com/asiantech.vn" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

	<br>
	<div class="fb-comments" data-href="https://www.facebook.com/asiantech.vn" data-numposts="5" data-colorscheme="light"></div>

	<script>(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.3&appId=375377165997805";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
